.submit {
    width: 800px;
    height: 2500px;
    position: absolute;
    left: 350px;
    top: 77px;
    background-color: #fff;
    display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* 画面中央に */
  gap: 16px; /* 各要素の間にスペース */
}
.submit-item, .submit div {
    width: 100%;
    max-width: 400px; /* フォームの幅を制限 */
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  textarea, input {
    padding: 8px;
    font-size: 16px;
    width: 100%; /* 幅いっぱいにする */
  }
  
  button {
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
.text {
    height: 300px;
}